.ng-valid { 
    color: blue; 
  } 
.ng-invalid { 
    color: red; 
  } 
.ng-valid[required], .ng-valid.required  { 
    border-bottom: 5px solid green;  
  } 
.ng-invalid:not(form)  { 
    border-bottom: 5px solid red;  
  } 
  
  