    <div class="controls-container">
      <label *ngIf="placeholder">{{label}}</label>
      <input 
             id="{{elementId}}"
             [attr.maxlength]="maxlength"
             value="{{value}}"
             [attr.placeholder]="placeholder"
             (focus)="onFocus($event)"
             (blur)="onBlur($event)">
        <img *ngIf="formControl.invalid && isValidationIcon" src="assets/icons/warning-red.svg" >
        <span *ngIf="!formControl.invalid">{{explanationText}}</span>
        <span *ngIf="formControl.invalid">{{validationText}}</span>
    </div>
   